accelerate==1.5.2
datasets==3.4.0
ipykernel==6.29.5
jupyter==1.1.1
jupyterlab==4.3.6
notebook==7.3.3
numpy==2.2.3
pandas==2.2.3
peft==0.14.0
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
tokenizers==0.21.1
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.67.1
transformers==4.49.0
trl==0.15.2
wandb==0.19.8
